<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config />

    <bean id="StageController" class="com.rodrigosasaki.taxi.resource.StageResource" />

    <bean id="stage" class="com.rodrigosasaki.taxi.stage.Stage" />
    <bean id="taxiService" class="com.rodrigosasaki.taxi.service.TaxiService" />
    <bean id="passengerService" class="com.rodrigosasaki.taxi.service.PassengerService" />
    <bean id="grid" class="com.rodrigosasaki.taxi.service.Grid" />

</beans>